/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
    box-sizing: border-box;
}
*::placeholder {
    color: #5F5D5D;
}
html, body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    font-size: 16px;
    color: #727272;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.5em;
}
h1,
h2,
a,
input, textarea,
.button {
    font-family: 'Roboto', sans-serif; 
    color: #000;  
}
ul,li {
    display: block;
    padding: 0;
    margin: 0;
}
.button {
    background-color: #34547A;
    min-width: 225px;
    max-width: 225px;
    height: 65px;
    line-height: 65px;
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease;
}
.button:hover {
    color: #34547A;
    background-color: #fff;
    border: 1px solid #34547A;
}
.menu__btn {
    position: absolute;
    right: 20px;
    top: 20px;
    min-width: 60px;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    display: none;
}
.menu__btn:hover {
    background-color: #34547A;
    color: #fff;
}
.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1 / 3;
    grid-template-areas: 
    "logo menu"
    "about about"
    "project project"
    "skills img"
    "works works"
    "gallery gallery"
    "contact contact"
    "copyrights social";
    /* min-height: 100vh; */
}
.main-container__item {
    width: 100%;
    height: 100%;
    background-size: cover !important;
}
/* navigation */
.navigation {
    padding-top: 46px;
    display: grid;
    grid-template-columns: 20% 20% 30% 10%;
    grid-template-rows: 115px 155px 135px 100px;
    /* grid-template-columns: 498px 398px 619px 405px; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #EEEFF1;
}
.logo {
    display: block;
    grid-column: 2 / 3;
}
.menu {
    grid-column: 3 / 5;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .9s ease;
}
.menu__item a{
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: all .5s ease;
}
.menu__item a:hover {
    color: #35547A;
}
.offer {
    display: grid;
    grid-column: 2 / 4;
}
.offer img {
    display: grid;
    grid-column: 2 / 3;
}
.offer__block {
    display: grid;
    grid-column: 3 / 4;
    margin-left: 5em;
    min-width: 540px;
}
.offer__text {
    line-height: 26px;
    color: #727272;
    width: 540px;
}
/* about */
.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 116px 155px 95px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.about__block {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

/* project */
.project {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 60px 100px;
    background-color: #34547A;
    color: #fff;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.project__block {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
}
.project__item {
    display: flex;
    align-items: center;
}
.project__item-text {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
}
.project__item-text span{
    font-size: 21px;
    font-weight: 500;
}
/* skills */
.skills {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 102px 450px 101px;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.skills___block {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.skills__img {
    display: block;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.skills__list {
    margin-top: 50px;
}
.skills__list li:not(:last-child) {
    margin-bottom: 30px;
}
.skills__list li::after {
    content: '';
    display: block;
    width: 223px;
    height: 4px;
    background: #34547A;
    margin-top: 20px;
    border-right: 222px solid #C4C4C4;
}
.skills__list li:nth-child(1)::after {
    width: 300px;
    border-right: 145px solid #C4C4C4;
}
.skills__list li:nth-child(2)::after {
    width: 345px;
    border-right: 100px solid #C4C4C4;
}
.skills__list li:nth-child(3)::after {
    width: 295px;
    border-right: 150px solid #C4C4C4;
}

/* works */
.works {
    display: grid;
    grid-template-rows: 100px 505px 400px;
    grid-template-columns: 10% 80% 10%;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    background: #EEEFF1;
}
.works__block {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}
.works__text {
    max-width: 540px;
    margin: 50px auto;
}
/* gallery */
.gallery {
    display: grid;
    padding-top: 30px;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
.gallery__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__block img {
    max-width: 480px;
    max-height: 480px;
}

.gallery__button:hover::after {
    opacity: 1;
    cursor: pointer;
}
.gallery__button:hover::before {
    opacity: 1;
    cursor: pointer;
}
.gallery__button::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/view.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all .5s ease;
    z-index: 2;
}
.gallery__button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
    opacity: 0;
    transition: all .5s ease;
}
.gallery__button{
    position: relative;
    width: 480px;
    height: 480px;
    transition: all .5s ease;
}
/* Microsoft */
.microsoft {
    display: grid;
    grid-template-rows: 72px 120px 100px;
    grid-template-columns: 20% 60% 20%;
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.microsoft__block {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
}
/* Contact */
.contact {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-column: 1 / 3;
    grid-row: 8 / 9;
    background: #EEEFF1;
    padding: 100px 0;
}
.contact__block {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
}
.contact__text {
    max-width: 540px;
    margin: 50px auto;
}
.form {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.form-control {

}
.form input {
    padding: 17px 20px 18px;
    border: none;
    max-width: 255px;
    width: 255px;
    font-size: 14px;
}
.form input[type="text"] {
    margin-right: 27px;
}
.form textarea {
    resize: none;
    border: none;
    margin-top: 20px;
    width: 540px;
    max-width: 540;
    height: 175px;
    padding: 17px 20px;
    font-size: 14px;
    margin-bottom: 50px;
}
.form .button {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.15em;
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column: 1 / 3;
    grid-row: 9 / 10;
    background: #34547A;
    padding: 50px 0;
    color: #fff;
}
.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
}
.footer a {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 20px;
}
.footer span {
    font-size: 13px;
}
.footer__rights {
    display: flex;
    flex-flow: column;
}
.footer__socials a:not(:last-child) {
    margin-right: 22px;
}
.footer img {
    width: 44px;
    height: 40px;
    transition: all .3s ease;
}
.footer img:hover {
    transform: scale(1.2);
}
